.container{
	max-width: 970px;
	background-color: red;
	margin-right: auto;
	margin-left: auto;
	height: 700px;
}

p{
	font-family: Helvetica;
}

img{
	width: 100%;
	border-radius: 50%;
	max-height: 100%;
}

#left-personal{
	width: 25%;
	display: inline-block;
	float: left;
}

#right-personal{
	width: 75%;
	display: inline-block;
	float: left;
}


.icon{
	max-width: 32px;
}


#picture{
	width: 25%;
	height: 230px;
	background: #8ED900;
	display: inline-block;
	float: left;
}

#quote{
	width: 75%;
	height: 230px;
	background: #9EE418;
	display: inline-block;
	float: left;
	text-align: center;
}

#quote-of-the-day{
	padding: 7%;
	font-size: 30px;
}

#personal-details{
	width: 100%;
	height: 110px;
	background: #A7FF00;
	display: inline-block;
}

#qualifications{
	width: 25%;
	height: 400px;
	background: #CCFF6B;
	float: left;
}

#education{
	width: 75%;
	height: 400px;
	background: #E9FFC1;
	float: left;
}

