a{
	color: #115500;
}

a:hover{
	color: #115500;
	font-weight: bold;
}

.container {
	width: 970px;
}

#picture{
	display: inline-block;
	width: 25%;
	float: left;
}

#personal-details{
	height: 124px;
}

#first{
	height: 226px;
}

#second{
}

#third{
	background: green;
	height: 100px;
}

#right-personal td, #left-personal td{
	border-top: none;
}

#quote{
	width: 75%;
	display: block;
	float: left;
	text-align: center;
}

#quote-of-the-day{
	margin: 10%;
}

#picture img{
	border-radius: 50%;
	max-width: 100%;
	border: 2px solid gray;
}

#left-personal{
	width: 250;
	display: inline-block;
	float: left;
	margin-bottom: 0px;
}

#left-personal td:first-child{
	font-weight: bold;
	padding: 6px;
}


#right-personal{
	margin-top: 7px;
	display: inline-block;
	float:left;
}

#right-personal td{
	padding-top: 10px;
	width: 340px;
	padding-left: 100px;
}

#qualifications, #education{
	display: inline-block;
	float: left;
}

#qualifications{
	width: 25%;
}

#education{
	width: 75%;
}
