body{
	overflow: scroll;
	color: #444444;
	font-size: 12px;
}

li{
	margin-left: 15px;
	font-size: 16px;
	text-align: right;
}

li:first-child{
	margin-left: 0px;
	text-align: middle;
}

.container{
	margin: auto;
	max-width: 720px;
	font-family: Tahoma;
}

#first{
	height: 250px;
}

#second{
	height: 129px;
}

#third{
	height: 360px;
	margin-top: 2px;
}

#picture{
	height: 250px;
	width: 250px;
	display: inline-block;
	float: left;
}

#picture *{
	height: 246px;
	width: 246px;
	border-radius: 125px;
	border: 1px solid #dddddd;
}

#quote{
	width: 390px;
	height: 170px;
	float: left;
	padding: 40px;
	text-align: center;
	font-size: 26px;
}

#left-personal{
	width: 240px;
	margin-right: 8px;
	display: inline-block;
	float: left;
	border-right: 1px solid #dddddd;
}

#left-personal td{
	padding: 14.5px  5px 14.5px 5px ;
	font-size: 14px;
}

#right-personal{
	width: 470px;
	height: 129px;
	padding: 5px;
}

#right-personal td{
	width: 230px;
	padding: 5px;
}

#right-personal a{
	vertical-align: middle;
	font-size: 13px;
}

#right-personal a:hover{
	color: #3366aa;
	font-color: black;
}

#right-personal img{
	height:32px;
	width:32px;
	vertical-align: middle;
	margin-right: 10px;
}

#qualifications, #education{
	display: inline-block;
	float:left;
}

#qualifications{
	width: 239px;
	height: inherit;
	margin-top: 10px;
}

#education{
	width: 460px;
	height: inherit;
	padding: 10px;
	text-align: center;
}

#education td:first-child{
	font-weight: bold;
}

#education td{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3px;
	padding-right: 3px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}

#university{
	margin-bottom: 25px;
}

#education p{
	font-size: 17px;
	color: #333333;
	margin-bottom: 4px;
	border: 1px solid #dddddd;
	background: #dfdfdf;
}

#university, #professional{
	display:none;
}


