body{
	overflow: scroll;
	color: #444444;
}

.container{
	margin: auto;
	max-width: 720px;
	font-family: Tahoma;
}

#first{
	height: 250px;
}

#second{
	height: 129px;
	border-bottom: 1px solid #dddddd;
}

#third{
	height:400px;
	margin-top: 2px;
	background: red;
}

#picture{
	height: 250px;
	width: 250px;
	display: inline-block;
	float: left;
}

#picture *{
	height: 246px;
	width: 246px;
	border-radius: 125px;
	border: 1px solid #dddddd;
}

#quote{
	width: 390px;
	height: 170px;
	float: left;
	padding: 40px;
	text-align: center;
	font-size: 26px;
}

#left-personal{
	width: 240px;
	margin-right: 10px;
	display: inline-block;
	float: left;
	border-right: 1px solid #dddddd;
}

#left-personal td{
	padding: 14.5px  5px 14.5px 5px ;
	font-size: 14px;
}

#right-personal{
	width: 470px;
	height: 129px;
	padding: 5px;
}

#right-personal td{
	width: 230px;
	padding: 5px;
}

#right-personal a{
	vertical-align: middle;
	font-size: 13px;
}

#right-personal a:hover{
	font-weight: bold;
	font-color: black;
}

#right-personal img{
	height:32px;
	width:32px;
	vertical-align: middle;
}

#qualifications, #education{
	display: inline-block;
	float:left;
}

#qualifications{
	width: 240px;
	background: green;
	height: inherit;
}

#education{
	width: 479px;
	background: yellow;
	border-left: 1px solid #dddddd;
	height: inherit;
}



